@import "bootstrap-conf";

.header{
  .logo {
    height: 100px;
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: 700;
  }
}
.main {
  position: relative;
  * {
    color: $primary;
  }
  .broadcast {
    width: 100%;
    height: clamp(45vw,5vh, 30vw);
  }
  .broadcast-media,
  .timer {
    width: 100%;
    height: 100%;
  }
  .broadcast-media {
    object-fit: cover;
    overflow: hidden;
  }
  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      font-size: calc(1.5em + 1vw);
    }
    @media (min-width: 992px) {
      &{
        position: relative;
      }
      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        transform: rotate(-5deg);
        width: 200px;
        height: 200px;
        background-image: url('/ovl.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: 200px;
        height: 200px;
        background-image: url('/ring.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/piter.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
  }
}
.footer {
  *{
    color: $light;
  }
  padding: 10px;
  height: 300px;
  background: $primary;
}